.stats-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (min-width: 600px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .stats-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stats-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.stats-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stats-section h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.stats-section p {
  margin: 5px 0;
  font-size: 22px; /* Increased font size for emphasis */
  font-weight: bold; /* Bold font weight for emphasis */
  color: #1e88e5; /* Blue color for emphasis */
  text-align: center; /* Center align the text */
}

.record-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.record-box {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  font-weight: bold;
  color: #fff; /* White text */
  transition: transform 0.2s, background-color 0.2s; /* Smooth transitions */
}

.record-box.win {
  background-color: #4caf50; /* Green background for wins */
}

.record-box.loss {
  background-color: #f44336; /* Red background for losses */
}

.record-box.draw {
  background-color: #ffeb3b60; /* Yellow background for draws */
  color: #333; /* Darker text for better contrast */
}

.record-box:hover {
  transform: scale(1.05);
  background-color: #2196f3; /* Blue background on hover */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #777;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
