<div class="search-container">
  <app-search (search)="handleSearch($event)"></app-search>
</div>

<div class="main-container">
  <div class="user-details-container">
    <img [src]="userData.avatar" class="user-avatar" alt="User Avatar" />
    <div class="user-info">
      <p class="username">{{ userData.username }}</p>
      <p class="joined">Joined: {{ convertTime(userData.joined, false) }}</p>
      <p class="last-online">
        Last online: {{ convertTime(userData.last_online) }}
      </p>
    </div>
  </div>

  <div class="stats-container">
    <app-stats [userStatsData]="userStatsData"></app-stats>
  </div>

  <h2 class="text-center">Recent Games</h2>

  <!-- Recent Games -->
  <div class="recent-games-container">
    @for (game of userGameData; track $index) {
    <div
      class="game-card"
      [ngClass]="{
        win:  searchTerm.toLowerCase() == game.black.username.toLowerCase() && game.black.result == 'win' ||
              searchTerm.toLowerCase() == game.white.username.toLowerCase() && game.white.result == 'win',
        loss: searchTerm.toLowerCase() == game.black.username.toLowerCase() && ['checkmated', 'resigned', 'timeout', 'abandoned'].includes(game.black.result) ||
              searchTerm.toLowerCase() == game.white.username.toLowerCase() && ['checkmated', 'resigned', 'timeout', 'abandoned'].includes(game.white.result),
      }"
    >
      <div class="game-details">
        <h3>{{ game.time_class | titlecase }} Game</h3>
        <p class="time">
          {{ convertTime(game.end_time) }}
        </p>
        <p>
          <strong>{{ game.white.username }}</strong> ({{ game.white.rating }})
          vs <strong>{{ game.black.username }}</strong> ({{
            game.black.rating
          }})
        </p>
        <p>
          Opening:
          <a [href]="getOpeningUrl(game.pgn)" target="_blank">{{
            formatOpeningUrlToWords(getOpeningUrl(game.pgn))
          }}</a>
        </p>
        <p>
          <strong>{{ getResultText(game.pgn) }}</strong>
        </p>
      </div>
      <p class="game-link">
        <a [href]="game['url']" target="_blank">Link to game</a>
      </p>
    </div>
    }
  </div>
</div>
