<div class="search-container">
  <mat-form-field>
    <input
      matInput
      [value]="userSearch.value"
      (input)="onSearchInput($event)"
    />
  </mat-form-field>

  <button mat-button type="submit" (click)="onSearch($event)">Submit</button>
</div>

<div class="user-details-container">
  <p>{{ userData.username }}</p>
  <img [src]="userData.avatar" />
  <p>Last online: {{ convertTime(userData.last_online) }}</p>
</div>

<p>Current month: {{ currentMonth }}</p>
<p>Current year: {{ currentYear }}</p>

<p>{{ userSearch.value }}</p>
<p>{{ userData | json }}</p>
