.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e88e5;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-search {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow the search bar to take up the remaining width */
  justify-content: flex-end; /* Align the search bar to the right */
  margin-right: 40px;
}

.search-input {
  flex-grow: 1; /* Make the input take up the remaining width of the search bar */
  padding: 5px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  padding: 5px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  color: #1e88e5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #f1f1f1;
}

.project-info {
  display: flex;
  align-items: center;
  max-width: 600px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.github-logo {
  margin-left: 10px;
  width: 24px; /* Adjust width to match the font size */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 680px) {
  .navbar {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .navbar-brand {
    margin-bottom: 10px; /* Add space between brand and search on small screens */
  }

  .navbar-search {
    width: 100%; /* Ensure the search bar takes the full width */
    margin-left: 0; /* Remove the left margin */
    justify-content: center; /* Center the search bar horizontally */
  }

  .search-input {
    width: calc(100% - 20px);
  }

  .search-button {
    width: 80px; /* Fixed width for the button */
  }

  .project-info {
    align-items: flex-start;
  }
}
